@use "../../utils/styles/function";

.first-section {
  height: 98dvh;
  @include function.column();
  justify-content: center;
  align-items: center;

  .title-text-container {
    @include function.column();
    align-items: center;
    .d-text {
      text-align: center;
      font-size: 1rem;
      font-weight: 800;
      @include function.smooth();

      @include function.if-size(280px) {
        font-size: 1.07rem;
      }
      @include function.if-size(350px) {
        font-size: 1.3rem;
      }
      @include function.if-size(430px) {
        font-size: 1.5rem;
      }

      .changed-text {
        color: var(--color-tertiary);
        font-weight: 900;
        letter-spacing: 1px;
      }
    }

    .subtitle-text {
      text-align: center;
      font-size: 0.65rem;
      margin-top: 10px;
      @include function.smooth();

      @include function.if-size(280px) {
        padding: 0 4px;
        font-size: 0.7rem;
      }
      @include function.if-size(300px) {
        padding: 0 5px;
      }
      @include function.if-size(330px) {
        padding: 0 7px;
        font-size: 0.75rem;
      }
      @include function.if-size(380px) {
        padding: 0 7px;
        font-size: 0.8rem;
      }
      @include function.if-size(500px) {
        padding: 0 15px;
        font-size: 0.9rem;
      }
    }

    .let-talk-btn {
      border: none;
      background-color: var(--color-primary);
      @include function.row();
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 35px;
      border-radius: 20px;
      color: var(--color-light);
      box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.35);
      cursor: pointer;
      margin-top: 30px;
      @include function.smooth();

      @include function.if-size(350px) {
        width: 150px;
        height: 40px;
      }

      @include function.if-size(400px) {
        height: 45px;
      }

      &:active {
        animation: btn-anim 100ms ease-in forwards;
      }

      @keyframes btn-anim {
        0% {
          transform: scale(1);
        }

        50% {
          transform: scale(0.8);
        }
        100% {
          transform: scale(1);
        }
      }

      .let-talk-btn__icon {
        height: 20px;
        width: 20px;
        margin-right: 5px;
        @include function.smooth();

        @include function.if-size(450px) {
          height: 25px;
          width: 25px;
        }
      }

      .let-talk-btn__text {
        font-weight: 500;
        @include function.smooth();

        @include function.if-size(450px) {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.second-section {
  padding: 15px 0;
  @include function.column();
  align-items: flex-start;

  .service-slider {
    width: 100vw;
    height: 200px;
    margin-top: 30px;
  }

  .service-toggle-btn-container {
    width: 100%;
    height: 40px;
    @include function.row();
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    @include function.smooth();

    @include function.if-size(450px) {
      margin-top: 25px;
    }

    @include function.if-size(450px) {
      height: 48px;
    }

    .service-toggle-btn {
      height: 70%;
      width: 170px;
      border: none;
      background-color: transparent;
      position: relative;
      border-radius: 2rem;
      @include function.row();
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      overflow: hidden;
      @include function.smooth();

      @include function.if-size(400px) {
        width: 200px;
      }

      .service-toggle-btn__bg-color {
        height: 100%;
        width: 55%;
        background-color: var(--color-primary);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        @include function.smooth();
        border-radius: 2rem;
      }

      .service-toggle-btn-bg__active {
        left: unset;
        right: 0;
        top: 0;
        width: 40%;
      }

      .service-toggle-btn-name {
        font-size: 0.7rem;
        font-weight: 600;
        @include function.smooth();
        color: gray;

        @include function.if-size(450px) {
          font-size: 0.8rem;
        }
      }

      .service-toggle-btn__dev-active {
        color: var(--color-light);
      }

      .service-toggle-btn__design-active {
        color: var(--color-light);
      }
    }
  }
}
