@use "../../../../../utils/styles/function";

.how-its-work__view-list-item {
  @include function.column();
  text-decoration: none;
  max-width: 160px;
  margin-right: 30px;
  @include function.smooth();

  @include function.if-size(500px) {
    margin-right: 60px;
  }

  .how-its-work__icon-part {
    height: 120px;
    width: 150px;
    position: relative;
    overflow: hidden;

    .process-number {
      position: absolute;
      top: 0;
      left: 0;
      @include function.linear-gradient-text(
        right,
        var(--color-primary),
        var(--color-tertiary)
      );
    }

    .icon-container {
      height: 130px;
      width: 130px;
      position: relative;
      overflow: hidden;
      .icon-bg {
        height: 80%;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
        z-index: 1;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 5;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }

  .process-title {
    font-weight: 700;
    font-size: 0.9rem;
  }

  .process-description {
    @include function.subtitle();
    color: gray;
    margin-top: 5px;
  }
}
