@use "../../../../../utils/styles/function";
.showcasing-item {
  height: 95%;
  min-width: 210px;
  border-radius: 10px;
  margin: 0 10px 0 5px;
  box-shadow: 2px 2px 7px rgba($color: #000000, $alpha: 0.35);
  @include function.smooth();

  @include function.if-size(300px) {
    min-width: 230px;
  }
  @include function.if-size(370px) {
    min-width: 250px;
  }

  .showcasing-item__link {
    text-decoration: none;
    color: var(--color-text);

    .showcasing-item__image-part {
      height: 70%;
      width: 100%;
      border-radius: 10px 10px 0 0;
      overflow: hidden;

      .showcasing-item__image-part__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .showcasing-item__content-part {
      height: 30%;
      width: 100%;
      border-radius: 0 0 10px 10px;
      background-color: var(--color-card-bg);
      padding: 5px 3px 3px 5px;
      overflow-y: scroll;

      .showcasing-item__content-part__title {
        font-size: 0.9rem;
        color: var(--color-text);
        letter-spacing: 1px;
      }

      .showcasing-item__content-part__description {
        font-size: 0.7rem;
        color: gray;
        margin-top: 5px;
      }
    }
  }
}
