@use "../../../utils/styles/function";

.img-slider {
  height: 100%;
  width: 100vw;
  @include function.column();
  justify-content: center;
  align-items: center;
  @include function.smooth();

  .slider {
    height: 100%;
    width: 100%;

    .slider-item {
      height: 100%;
      width: 100%;
      @include function.smooth();

      .slider-item__img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        @include function.smooth();
      }
    }
  }
}
