@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// ===================== Default Values =========================
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

//################### End Default Values #####################

//================== Root Values =====================
:root {
  // Colors
  --color-primary: #4169e1;
  --color-primary-light-100: #6988e7;
  --color-primary-light-200: #90a8ee;
  --color-primary-light-300: #b8c7f4;
  --color-primary-dark-100: #214ed3;
  --color-primary-dark-200: #1b3fab;
  --color-primary-dark-300: #153084;

  --color-secondary: #0087d6;
  --color-secondary-100: #0081e6;
  --color-secondary-200: #0077e9;

  --color-tertiary: #cc2d90;
  --color-tertiary-100: #b342b2;
  --color-tertiary-200: #8a57ce;

  --color-dark: #000000;
  --color-light: #ffffff;

  // Font Size
  --font-body: 1rem;
  --font-drawer-nav: 0.9rem;
  --font-drawer-nav-weight: 600;
}

//################### End Root Values #####################

//================ Color Scheme ==================

.light-color-scheme {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-drawer-bg: rgba(255, 255, 255, 0.65);
}

.dark-color-scheme {
  --color-bg: #000000;
  --color-text: #ffffff;
  --color-drawer-bg: rgba(0, 0, 0, 0.65);
}

//################### End Color Scheme #####################

//================== Global Styles ===================
html[theme-mode="light"] {
  @extend .light-color-scheme;
}

html[theme-mode="dark"] {
  @extend .dark-color-scheme;
}

//################### End Global Styles ####################

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  display: grid;
  grid-template-rows: auto fit-content(200px);
  grid-template-areas:
    "main"
    "footer";
}

#main {
  grid-area: main;
}

#footer {
  grid-area: footer;
}
