@use "../../utils/styles/function";

.root-header__active {
  transform: translateX(-80%);
  @include function.if-size(250px) {
    transform: translateX(-82%);
  }
  @include function.if-size(300px) {
    transform: translateX(-85%);
  }
  @include function.if-size(370px) {
    transform: translateX(-87%);
  }
  @include function.if-size(520px) {
    transform: translateX(-89%);
  }
}

.add-root-header-bg {
  background: var(--color-drawer-bg);
  backdrop-filter: blur(8px);
}

.root-header {
  height: 50px;
  width: 100vw;
  @include function.row();
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  @include function.smooth();
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;

  @media screen and (max-height: 450px) {
    background-color: transparent;
    backdrop-filter: unset;
  }

  .app-link {
    text-decoration: none;

    .app-link__icon {
      height: 30px;
      width: 30px;
    }
  }

  .drawer-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 0 8px 0;
    padding: 10px 5px;
    border-radius: 15px;
    @include function.smooth();

    .drawer-btn__line-one {
      width: 25px;
      height: 1px;
      background-color: var(--color-text);
      margin: 0 0 8px 0;
      @include function.smooth();
    }
    .drawer-btn__line-one-active {
      transform: rotateZ(45deg);
      margin: 0;
    }
    .drawer-btn__line-two {
      width: 20px;
      height: 1px;
      background-color: var(--color-text);
      @include function.smooth();
    }
    .drawer-btn__line-two-active {
      width: 25px;
      margin: 0;
      transform: rotateZ(-45deg);
    }
  }
}

.override-overlay {
  width: 85vw;
  background-color: var(--color-drawer-bg);
  backdrop-filter: blur(10px);
  left: unset;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  @include function.smooth();

  @include function.small-tablet() {
    display: none;
  }
}

.override-overlay__active {
  transform: scaleX(1);
}
