@use "../../../../utils/styles/function";

.drawer-navigation {
  .drawer-navigation__list {
    list-style: none;
    @include function.column();
    align-items: flex-start;

    .drawer-navigation__item {
      width: 100%;
      @include function.column();
      align-items: flex-start;
    }
  }
}
