@use "../../../utils/styles/function";

.error-screen {
  @include function.column();
  align-items: center;

  .error-screen__img-container {
    width: 100%;
    text-align: center;
    margin-top: 50px;

    .error-screen__img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }

  .error-screen__title {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
  }

  .error-screen__description {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 5px;
  }

  .error-screen__actions {
    width: 100%;
    @include function.row();
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;

    .error-screen__actions__btn {
      width: 110px;
      height: 40px;
      border-radius: 20px;
      border: none;
      background-color: var(--color-primary);
      color: var(--color-light);
    }
  }
}
