@use "../../../utils/styles/function";

.service-design__header-section {
  @include function.column();
  align-items: center;

  .service-design__header-section-container {
    height: 80dvh;
    width: 100dvw;
    position: relative;
    overflow: hidden;

    .img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .service-design__header-section-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: var(--color-light);
      font-size: 4rem;
      z-index: 2;
      border-radius: 100px;
      background: radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0.6) 0%,
        #00000000 100%
      );
      padding: 10px;
    }
  }
}

.service-design__why-section {
  margin-top: 70px;

  .why-section__img-container {
    width: 100%;
    height: 200px;
    margin-top: 20px;

    .img-container__img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .why-section__description {
    text-align: center;
    margin-top: 5px;
    margin-top: 20px;
  }
}

.service-design__offer-section {
  margin-top: 100px;

  .offer-section__offer-list {
    list-style: none;
    @include function.row();
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;

    .offer-list__item {
      background-color: var(--color-card-bg);
      @include function.column();
      align-items: center;
      justify-content: center;
      padding: 15px 10px;
      border-radius: 10px;
      box-shadow: 0 1px 5px rgba($color: #000000, $alpha: 0.35);
      margin: 10px;

      .item__img {
        height: 40px;
        width: 40px;
        object-fit: cover;
      }

      .item__name {
        text-align: center;
        width: 100%;
        font-weight: 600;
        margin-top: 10px;
      }
    }
  }
}

.service-design__showcase-section {
  margin-top: 100px;

  .showcase-section__title-container {
    @include function.row();
    align-items: center;
    justify-content: space-between;

    .title-container__link {
      text-decoration: none;
      color: var(--color-primary);
      font-weight: 600;
      cursor: pointer;
      font-size: 0.8rem;
      margin-right: 5px;
    }
  }

  .showcase-section__showcase-list {
    @include function.row();
    height: 300px;
    width: 100vw;
    // background-color: gray;
    align-items: center;
    overflow: scroll;

    .showcase-list__item {
      @include function.column();
      align-items: center;

      .list-item__button {
        height: 120px;
        width: 120px;
        border: none;
        border-radius: 5px;
        margin: 10px 5px;
        box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.25);

        .button__img {
          height: 80%;
          width: 80%;
          object-fit: cover;
        }
      }
    }
  }
}
