@use "../../../utils/styles/function";

.lower-title {
  color: var(--color-text);
  font-weight: 800;
  font-size: 1rem;
  @include function.smooth();

  @include function.big-phone() {
    font-size: 1.2rem;
  }
  @include function.small-tablet() {
    font-size: 1.3rem;
  }

  // @include function.if-size(300px) {
  //   font-size: 1rem;
  // }

  // @include function.if-size(400px) {
  //   font-size: 1.1rem;
  // }
  // @include function.if-size(550px) {
  //   font-size: 1.2rem;
  // }
}
